<div class="columns">
    <div class="column is-one-quarter">
        <img id="book-image" [src]="libro | imagen">
    </div>
    <div class="column">
        <h2 class="title is-4">
            {{libro.nombre}} | <b>{{ libro.anio_publicacion }}</b> |
            <small><i>{{ libro.autor.nombre }} {{ libro.autor.apellido }}</i></small>
        </h2>
        
        <h3>Cantidad de Páginas: <b>{{ libro.hojas }}</b></h3>
    </div>    
    <div class="column is-one-quarter">
        <a class="" mat-raised-button href="{{ libro.url }}">Detalles del libro</a>
    </div>
</div>