<div>
    <form [formGroup]="formBook" (ngSubmit)="onSubmit()">
        <div>
            <label for="autor">Autor</label>
            <mat-form-field class="example-full-width" appearance="fill">
                <input type="text"
                       id="autor"                     
                       matInput
                       [(ngModel)]="termino"
                       formControlName="autor_id"                       
                       [matAutocomplete]="auto"
                       (input)="buscando()">
                <mat-autocomplete   #auto="matAutocomplete"
                                    (optionSelected)="opcionSeleccionada( $event )">
                    <mat-option *ngFor="let autor of autores" [value]="autor">
                        {{ autor.nombre }} {{ autor.apellido }}
                    </mat-option>
                    <mat-option *ngIf="autores?.length === 0 && termino.length > 0" [value]="">
                    No se encontró el valor {{ termino }}
                    </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="toppings" multiple>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" formControlName="nombre">
        </div>
        <div>
            <label for="anio">Año Publicación</label>
            <input id="anio" type="text" formControlName="anio_publicacion">
        </div>
        <div>
            <label for="hojas">Cantidad de Hojas</label>
            <input id="hojas" type="text" formControlName="hojas">
        </div>        
        <input type="submit" value="Crear">
    </form>
</div>
