<mat-card class="form-centred-card">
    <mat-card-title>Agregar Libros</mat-card-title>
    <mat-card-subtitle>Libros para Leer o Leidos</mat-card-subtitle>
    <form [formGroup]="formBook" (ngSubmit)="onSubmit()">

        <div>
                <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Autor</mat-label>
                <input type="text"
                    id="autor"                     
                    matInput
                    [(ngModel)]="termino"
                    formControlName="autor_id"                       
                    [matAutocomplete]="auto"
                    (input)="buscando()">
                <mat-autocomplete #auto="matAutocomplete"
                                  (optionSelected)="opcionSeleccionada( $event )">
                    <mat-option *ngFor="let autor of autores" [value]="autor">
                        {{ autor.nombre }} {{ autor.apellido }}
                    </mat-option>
                    <mat-option *ngIf="autores?.length === 0 && termino.length > 0" [value]="">
                    No se encontró el valor {{ termino }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Generos</mat-label>
                <mat-select formControlName="genero_id" multiple>
                    <mat-option *ngFor="let genero of generosList" [value]="genero">{{ genero }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" value="" formControlName="nombre">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Año Publicación</mat-label>
                <input matInput placeholder="Año" value="" formControlName="anio_publicacion">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Cantidad de Hojas</mat-label>
                <input matInput placeholder="Año" value="" formControlName="hojas">
            </mat-form-field>
        </div>

        <mat-card-actions>
            <button mat-raised-button color="accent" type="submit">Crear</button>
        </mat-card-actions> 

    </form>
</mat-card>